body {
    background-color: rgb(199, 204, 228)
}
#top-nav {
    background-color: blue;
    color: white;
    font-family: "Merriweather", serif;
}
#top-nav a {
    color: white;
    text-decoration: none;
    width: 100%;
    margin: .25em;
    font-size: 1em;
    font-weight: bold;
}
#top-nav a.dropdown-root {
    font-size: 2em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
#top-nav ul {
    list-style: none;
    padding-inline-start: 0;
    padding-left: 0;
}
#top-nav h3 {
    margin-left: 5px;
    font-size: 2em;
    text-align: center;
    flex-grow: 2;
}
#top-nav li, .top-nav-dropdown-list li {
    padding: 0px 5px;
    text-align: center;
}
#top-nav-heading-and-burger {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#top-nav-dropdown-parent-list {
    display: none;
}
#top-nav-dropdown-parent-list.active {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
    margin-block-end: 0;
    margin-block-start: 0;
}

.top-nav-dropdown-menu {
    display: flex;
    flex-direction: column;
    background-color: blue;
}
.top-nav-dropdown-menu {
    display: none;
}

.top-nav-dropdown-list li:hover {
    font-size: 1.05em;
}
/* simplest burger menu stuff 
lovingly stolen from https://www.w3schools.com/howto/howto_css_menu_icon.asp
*/

.burger-menu {
    display: inline-block;
    cursor: pointer;
    padding: 5vh 5vw;
  }
  
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}
  
  /* Rotate first bar */
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
  }
  
  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
  }
  
  /* Rotate last bar */
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
  }

/* end burger menu stuff */

#home-bio-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
}
#home-bio-picture {
    object-fit: cover;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

#home-bio-description h2 {
    text-align: center;
}





@media screen and (min-width: 800px){
    .burger-menu {
        display:none;
    }
    #top-nav-heading-and-burger h3 {
        flex-grow: 0;
    }
    #top-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: blue;
        color: white;
        width: 100vw;
        align-items: center;
        font-family: "Merriweather", serif;
    }
    #top-nav-dropdown-parent-list{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0 5px;
    }

    #top-nav {
        height: 10vh;
        position: absolute;
        top: 0;
        left: 0;
    }
    #top-nav a.dropdown-root {
        font-size: 2.5vh;
        padding: 3.75vh 0vh;
        margin: 0;
    }
    #top-nav>ul>li:hover {
        background-color: lightblue;
    }
    main {
        margin-top: 10vh;
    }
    .dropdown-parent-list-item {
        position: relative;
    }
    .top-nav-dropdown-menu.active {
        display: block;
        position: absolute;
        z-index: 1;
        padding-top: 1vh;
        top: 10vh;  
        width: 100%;
        right: 0;
    }
    .top-nav-dropdown-list {
        display: flex;
        flex-direction: column;
    }
    .top-nav-dropdown-list li {
        margin: 10px 0px;
    }
    #home-bio-section {
        display: grid;
        grid-template-columns: 3fr 2fr;
        gap: 5px;
        margin-top: 12vh;
        padding: 0 1vw;
    }
}
/* mobile only styles, BAD FORM BUT OK */
@media screen and (max-width:799px){
    #top-nav ul {
        width: 100%;
    }
    #top-nav-heading-and-burger {
        width: 100%
    }
}