#top-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: blue;
    color: white;
    width: 100vw;
    align-items: center;
    font-family: "Merriweather", serif;
}
#top-nav a {
    color: white;
    text-decoration: none;
    width: 100%;
    margin: .25em;
    font-size: 1em;
    font-weight: bold;
}
#top-nav a.dropdown-root {
    font-size: 2em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
#top-nav ul {
    list-style: none;
    padding-inline-start: 0;
    padding-left: 0;
}
#top-nav>ul {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
}
#top-nav h3 {
    margin-left: 5px;
    font-size: 2em;
    text-align: center;

}
#top-nav li, .top-nav-dropdown-list li {
    padding: 0px 5px;
    height: 100%;
    text-align: center;
}

.top-nav-dropdown-menu {
    display: flex;
    flex-direction: column;
    background-color: blue;
}
.top-nav-dropdown-menu {
    display: none;
}

.top-nav-dropdown-list li:hover {
    font-size: 1.05em;
}





@media screen and (min-width: 800px){
    #top-nav, #top-nav>ul {
        flex-direction: row;
    }
    #top-nav>ul {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0 5px;
    }

    #top-nav {
        height: 10vh;
        position: absolute;
        top: 0;
        left: 0;
    }
    #top-nav a.dropdown-root {
        font-size: 2.5vh;
        padding: 3.75vh 0vh;
        margin: 0;
    }
    #top-nav>ul>li:hover {
        background-color: lightblue;
    }
    main {
        margin-top: 10vh;
    }
    .dropdown-parent-list-item {
        position: relative;
    }
    .top-nav-dropdown-menu.active {
        display: block;
        position: absolute;
        z-index: 1;
        padding-top: 1vh;
        top: 10vh;  
        width: 100%;
        right: 0;
    }
    .top-nav-dropdown-list {
        display: flex;
        flex-direction: column;
    }
    .top-nav-dropdown-list li {
        margin: 10px 0px;
    }
}
/* mobile only styles, BAD FORM BUT OK */
@media screen and (max-width:799px){
    #top-nav ul {
        width: 100%;
    }
}